@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: "Roboto", sans-serif; */
/* font-family: "Roboto Slab", serif; */

main {
  max-width: 1440px;
  min-width: 991px;
  margin: 0 auto;
}

.cardpace-section {
  width: 100%;
  margin-bottom: 121px;
}

.cardpace-h2-box {
  width: 100%;
}

.cardpace-h2 {
  font-family: "Roboto Slab", serif;
  width: auto;
  font-size: 40px;
  padding-left: 81px;
  margin-bottom: 85px;
  font-weight: bold;
}

.cardpace-boxes {
  font-family: "Roboto", sans-serif;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 35px;
}

.cardpace-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 15px rgb(171, 171, 171);
}

.cardpace-img {
  width: 100%;
}

.cardpace-box-h4 {
  width: auto;
  padding: 10px 14px 0 20px;
  font-size: 20px;
  font-weight: bold;
}

.cardpace-p {
  width: auto;
  padding: 20px 10px 23px 19px;
  font-size: 15px;
}

.cardpace-p8 {
  width: auto;
  padding: 1px 15px 23px 19px;
  font-size: 15px;
}

@media screen and (max-width: 990px) and (min-width: 601px) {
  .cardpace-h2 {
    font-size: 37px;
    padding-left: 75px;
    margin-bottom: 60px;
  }

  .cardpace-section {
    margin-bottom: 53px;
  }

  .cardpace-boxes {
    gap: 20px 22px;
  }

  .cardpace-box-h4 {
    padding: 5px 8px 0 15px;
    font-size: 15px;
  }

  .cardpace-p {
    padding: 15px 8px 20px 15px;
    font-size: 15px;
  }

  .cardpace-p8 {
    padding: 1px 8px 20px 15px;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) and (min-width: 375px) {
  .cardpace-h2 {
    font-size: 65px;
    padding-left: 65px;
    margin-bottom: 80px;
  }

  .cardpace-section {
    margin-bottom: 47px;
  }

  .cardpace-boxes {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 55px;
  }

  .cardpace-box-h4 {
    padding: 10px 8px 0 20px;
    font-size: 25px;
  }

  .cardpace-p {
    padding: 25px 8px 30px 20px;
    font-size: 20px;
  }

  .cardpace-p8 {
    padding: 2px 8px 20px 15px;
    font-size: 20px;
  }
}
